/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to right, #000428 0%, #000000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

.header {
    text-align: center;
    margin-bottom: 50px;
    color: #ffffff;
}

.nickname {
    font-size: 2.5em;
    font-weight: bold;
    padding-left: 40px;
    position: relative;
    color: #ffffff;
    animation: glitch 2s infinite steps(100, end);
}

.description {
    font-size: 2em;
    color: #ffffff;
    padding-left: 20px;
    position: relative;
    animation: glitch 2s infinite steps(100, end);
    line-height: 0.7;
}

@media only screen and (max-width: 600px) {
    .nickname {
        font-size: 1.5em;
    }

    .description {
        font-size: 1.2em;
        line-height: 1;
    }

    .social-media-buttons a {
        width: 60px;
        height: 60px;
    }

    .header {
        margin-bottom: 20px;
    }
}

@keyframes glitch {
    0% {
        text-shadow: 3px 0 blue, -3px 0 red;
        transform: rotateX(0deg) rotateY(0deg);
    }
    30% {
        text-shadow: -3px 0 blue, 3px 0 red;
        transform: rotateX(-1deg) rotateY(-1deg);
    }
    60% {
        text-shadow: 3px 0 blue, -3px 0 red;
        transform: rotateX(1deg) rotateY(1deg);
    }
    90% {
        text-shadow: -3px 0 blue, 3px 0 red;
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        text-shadow: 3px 0 blue, -3px 0 red;
        transform: rotateX(-1deg) rotateY(-1deg);
    }
}

.social-media-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
}

.social-media-buttons a {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    outline: 2px solid white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.social-media-buttons a:hover {
    outline-offset: 5px;
    transition: all 0.2s ease-in-out;
}

.social-media-button a img {
    transition: all 0.2s ease-in-out;
}

.social-media-button a:hover img {
    transform: scale(1.5);
}

.social-media-buttons li:nth-child(1) a:hover{
    background: radial-gradient(
            circle at 30% 107%, #fdf497 0%,
            #fdf497 5%, #fd5949 45%,
            #d6249f 60%, #285AEB 90%
    );
}

.social-media-buttons li:nth-child(2) a:hover {
    background: radial-gradient(
            circle at 30% 107%, #05cc47 0%,
            #05cc47 5%, #0b9444 45%,
            #0f4d32 60%, #15260f 90%
    );
}
